<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/Site2" />
  </styleBundle>
  <styleBundle path="~/Content/themes/base/css">
    <include path="~/Content/themes/base/jquery.ui.core2" />
    <include path="~/Content/themes/base/jquery.ui.resizable2" />
    <include path="~/Content/themes/base/jquery.ui.selectable2" />
    <include path="~/Content/themes/base/jquery.ui.accordion2" />
    <include path="~/Content/themes/base/jquery.ui.autocomplete2" />
    <include path="~/Content/themes/base/jquery.ui.button2" />
    <include path="~/Content/themes/base/jquery.ui.dialog2" />
    <include path="~/Content/themes/base/jquery.ui.slider2" />
    <include path="~/Content/themes/base/jquery.ui.tabs2" />
    <include path="~/Content/themes/base/jquery.ui.datepicker2" />
    <include path="~/Content/themes/base/jquery.ui.progressbar2" />
    <include path="~/Content/themes/base/jquery.ui.theme2" />
  </styleBundle>
</bundles>
